POSTGRES_DB=adorable_thunder
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
AI_READONLY_PASSWORD=not-a-password123!@#

PG_HOST=localhost
PG_PORT=5432
PG_DBNAME=adorable_thunder
PG_USER=ai_readonly_user
PG_PASSWORD=not-a-password123!@#
